<!-- info card -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Summary</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="4" rowHeight="4:1">

    <mat-grid-tile>
      <mat-card class=" ">
        <mat-card-header>
          <mat-card-title>Number of Task</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center ">
          <p>{{getCount()}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class=" ">
        <mat-card-header>
          <mat-card-title>Number of Completed Task</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center ">
          <p>{{getCompletedCount()}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
  <mat-divider></mat-divider>

</mat-card>


<mat-card>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Project List</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button (click)="createProject()">Create a Project</button>
        </mat-card-actions>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let p of projects">

              <h4 mat-line>{{p.name}}</h4>
              <p mat-line>{{p.description}}</p>
              <mat-chip-list aria-label="developers">
                <mat-chip color="primary" selected *ngFor="let d of p.developers">{{filterUser(d).username}}</mat-chip>

              </mat-chip-list>
              <mat-action-list>
                <button mat-button (click)="selectProject(p)" color="primary">SELECT</button>
                <button mat-button (click)="deleteProject(p.id)" color="warn">DELETE</button>
              </mat-action-list>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Select Project Task List. Current :{{selected_proejct?selected_proejct.name:"None"}}
          </mat-card-title>

        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button (click)="createTask()" >Create a New Task</button>
        </mat-card-actions>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let t of tasks">
              <mat-icon mat-list-icon>check_box</mat-icon>
              <h4 mat-line>{{t.name}}</h4>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>{{t.completed?"Finished":"Unfinished"}}</mat-chip>
                <mat-chip color="accent" selected>{{t.detection_model}}</mat-chip>
              </mat-chip-list>
              <p mat-line>{{t.description}}</p>
              <mat-action-list>
                <button mat-button (click)="editTask(t)">Edit</button>
                <button mat-button color="warn" (click)="delete(t.id)">delete</button>
              </mat-action-list>

            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>